.git/**
!.git/HEAD
!.git/refs
!.git/refs/**
!.git/packed-refs
.gitignore

**/node_modules
**/.nuxt
**/.output
**/.encore
**/dist
**/coverage
**/.turbo
**/.vite
**/.cache

deploy/nstack
.nstack
.env
.env.*
!.env.example

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
